.h5p-advanced-text ul,
.h5p-advanced-text ol {
  padding: 0;
  margin: 1em 0;
}
.h5p-advanced-text ul li,
.h5p-advanced-text ol li {
  margin: 0 0 1em 1.5em;
  padding: 0;
}

.h5p-advanced-text ul li:last-child,
.h5p-advanced-text ol li:last-child {
  margin-bottom: 0;
}
.h5p-advanced-text ul li {
  list-style-type: circle;
}
.h5p-advanced-text ol li {
  list-style-type: decimal;
}
.h5p-advanced-text.h5p-frame {
  margin: 1em;
}

.h5p-text ul,
.h5p-text li {
    padding-left: 0;
}
.h5p-text ul li {
  list-style-type: circle;
  margin-left: 1.5em;
  padding-left: 0;
}
.h5p-text ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  padding-left: 0;
}
.h5p-text.h5p-frame {
  margin: 1em;
}

/*!
 *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'H5PFontAwesome4';src:url("..//libraries/FontAwesome-4.5/fontawesome-webfont.eot?v=4.5.0");src:url("..//libraries/FontAwesome-4.5/fontawesome-webfont.eot?#iefix&v=4.5.0") format('embedded-opentype'),url("..//libraries/FontAwesome-4.5/fontawesome-webfont.woff2?v=4.5.0") format('woff2'),url("..//libraries/FontAwesome-4.5/fontawesome-webfont.woff?v=4.5.0") format('woff'),url("..//libraries/FontAwesome-4.5/fontawesome-webfont.ttf?v=4.5.0") format('truetype'),url("..//libraries/FontAwesome-4.5/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 H5PFontAwesome4;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}

@CHARSET "UTF-8";

.h5p-image-hotspots {
  background-color: #FFF;
  color: #333;
}
.h5p-image-hotspots-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: auto;
}
.h5p-image-hotspots-background {
  width: 100%;
}
.h5p-image-hotspot {
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  line-height: 1;
  border-radius: 0.7em;
  background: black;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: #fff;
  padding: 0;
  border: none;
  margin: 0;
}
.h5p-image-hotspot.active {
  z-index: 1;
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.not-an-ios-device .h5p-image-hotspot:hover {
  cursor: pointer;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}
.h5p-image-hotspot:before {
  font-family: H5PFontAwesome4;
  content: '\f055';
  width: 1.2em;
  height: 1.2em;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0.1em;
}
.h5p-image-hotspot-popup {
  position: absolute;
  z-index: 3; /* On top of hotspots */
  top: 0;
  height: 100%;
  max-height: 100%;
  background: white;
  background: rgba(255,255,255,0.9);
  padding: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}
.h5p-image-hotspot-popup-pointer {
  position: absolute;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  width: 0;
  height: 0;
  border-top: 0.6em solid transparent;
  border-left: 0.6em solid rgba(255,255,255,0.9);
  border-bottom: 0.6em solid transparent;
}
.h5p-image-hotspot-popup-pointer.to-the-left {
  right: -0.58em;
}
.h5p-image-hotspot-popup-pointer.to-the-right {
  border-right: 0.6em solid rgba(255,255,255,0.9);
  border-left: none;
  left: -0.58em;
}
.h5p-image-hotspot-popup-header {
  /* Header is just a one-liner for now */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1.5em;
  height: 1.5em;
}
.h5p-text.h5p-image-hotspot-popup-body {
  bottom: 0;
  overflow: auto;
  word-wrap: break-word;
  line-height: 1.1;
}
.fullscreen-popup .h5p-image-hotspot-popup-body {
  margin-right: 1.8em;
}
.fullscreen-popup .h5p-image-hotspot-popup-content {
  height: 100%;
  overflow: auto;
}
.h5p-image-hotspot-popup-body > * {
  font-size: 0.7em;
}

.h5p-image-hotspot-popup:not(.fullscreen-popup) .h5p-image-hotspot-popup-body.h5p-video > div {
  max-height: 18em;
  min-height: 16em;
}

.h5p-image-hotspot-popup-body > p {
  margin-top: 0;
  margin-bottom: 1em;
}
.h5p-image-hotspot-close-popup-button {
  position: absolute;
  top: 0;
  right: -1.125em;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
  color: #EEE;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.3);
  font-size: 1.35em;
  width: 1.125em;
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
}
.h5p-image-hotspot-close-popup-button:hover,
.h5p-image-hotspot-close-popup-button:active {
  background: rgba(0,0,0,0.5);
}
.h5p-image-hotspot-close-popup-button:after {
  font-family: H5PFontAwesome4;
  content: '\f112';
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  text-align: center;
  width: 100%;
  font-size: 80%;
}
.h5p-image-hotspots-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  background: transparent;
  z-index: 1;
}
.h5p-image-hotspots-overlay.visible {
  background: rgba(0,0,0,0.5);
}
.background-image-missing {
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
}
/* Fullscreen */
.h5p-image-hotspots.h5p-fullscreen,
.h5p-image-hotspots.h5p-semi-fullscreen {
  background-color: #000;
}
/* Center vertically on fullscreen */
.h5p-image-hotspots.h5p-fullscreen .h5p-image-hotspots-container,
.h5p-image-hotspots.h5p-semi-fullscreen .h5p-image-hotspots-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Singlechoice set
.h5p-image-hotspot-popup.h5p-singlechoiceset {
  background: rgba(255,255,255,0.95);
}
.h5p-image-hotspot-popup.h5p-singlechoiceset .h5p-sc-set {
  line-height: 1.5;
}
.h5p-image-hotspots .h5p-sc-sound-control {
  right: 2.5em;
}*/
/* H5P.Image */
.h5p-image.h5p-image-hotspot-popup-body img {
  width: auto;
  height: auto;
  max-height: 95%;
  max-width: 100%;
}
/* H5P.Summary
.h5p-image-hotspot-popup-body.summary-content {
  padding: 0.2em;
  overflow: auto;
}
.h5p-summary .h5p-image-hotspot-popup-pointer {
  border-color: rgba(255,255,255,0.95);
}
.h5p-image-hotspot-popup.h5p-summary {
  background: rgba(255,255,255,0.95);
}
*/

.tether-element,.tether-element *,.tether-element :after,.tether-element :before,.tether-element:after,.tether-element:before{box-sizing:border-box}.tether-element{position:absolute;display:none}.tether-element.tether-open{display:block}
.drop-element,.drop-element *,.drop-element :after,.drop-element :before,.drop-element:after,.drop-element:before{box-sizing:border-box}.drop-element{position:absolute;display:none}.drop-element.drop-open{display:block}.drop-element.drop-theme-arrows-bounce .drop-content{border-radius:5px;position:relative;font-family:inherit;background:#fff;color:#444;padding:1em;font-size:1.1em;line-height:1.5em;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:drop-shadow(0 1px 4px rgba(0, 0, 0, .2));filter:drop-shadow(0 1px 4px rgba(0, 0, 0, .2))}.drop-element.drop-theme-arrows-bounce .drop-content:before{content:"";display:block;position:absolute;width:0;height:0;border-color:transparent;border-width:12px;border-style:solid}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-center .drop-content:before{top:100%;left:50%;margin-left:-12px;border-top-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-center .drop-content{margin-top:12px}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-center .drop-content:before{bottom:100%;left:50%;margin-left:-12px;border-bottom-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-right.drop-element-attached-middle .drop-content:before{left:100%;top:50%;margin-top:-12px;border-left-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-left.drop-element-attached-middle .drop-content:before{right:100%;top:50%;margin-top:-12px;border-right-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before{bottom:100%;left:12px;border-bottom-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before{bottom:100%;right:12px;border-bottom-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before{top:100%;left:12px;border-top-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before{top:100%;right:12px;border-top-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before{top:12px;left:100%;border-left-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before{top:12px;right:100%;border-right-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before{bottom:12px;left:100%;border-left-color:#fff}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before{bottom:12px;right:100%;border-right-color:#fff}.drop-element.drop-theme-arrows-bounce{max-width:100%;max-height:100%;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-transition:opacity .1s;transition:opacity .1s;opacity:0}.drop-element.drop-theme-arrows-bounce .drop-content{-webkit-transition:-webkit-transform .3s cubic-bezier(0,0,.265,1.55);transition:transform .3s cubic-bezier(0,0,.265,1.55);-webkit-transform:scale(0) translateZ(0);transform:scale(0) translateZ(0)}.drop-element.drop-theme-arrows-bounce.drop-open{display:none}.drop-element.drop-theme-arrows-bounce.drop-open-transitionend{display:block}.drop-element.drop-theme-arrows-bounce.drop-after-open{-webkit-transition:none;transition:none;opacity:1}.drop-element.drop-theme-arrows-bounce.drop-after-open .drop-content{-webkit-transform:scale(1) translateZ(0);transform:scale(1) translateZ(0)}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-center .drop-content{margin-bottom:12px;-webkit-transform-origin:50%,calc(100% + 12px);-ms-transform-origin:50%,calc(100% + 12px);transform-origin:50%,calc(100% + 12px)}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-center .drop-content{-webkit-transform-origin:50%,-12px;-ms-transform-origin:50%,-12px;transform-origin:50%,-12px}.drop-element.drop-theme-arrows-bounce.drop-element-attached-right.drop-element-attached-middle .drop-content{margin-right:12px;-webkit-transform-origin:calc(100% + 12px),50%;-ms-transform-origin:calc(100% + 12px),50%;transform-origin:calc(100% + 12px),50%}.drop-element.drop-theme-arrows-bounce.drop-element-attached-left.drop-element-attached-middle .drop-content{margin-left:12px;-webkit-transform-origin:-12px,50%;-ms-transform-origin:-12px,50%;transform-origin:-12px,50%}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content{margin-top:12px;-webkit-transform-origin:0,-12px;-ms-transform-origin:0,-12px;transform-origin:0,-12px}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content{margin-top:12px;-webkit-transform-origin:100%,-12px;-ms-transform-origin:100%,-12px;transform-origin:100%,-12px}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content{margin-bottom:12px;-webkit-transform-origin:0,calc(100% + 12px);-ms-transform-origin:0,calc(100% + 12px);transform-origin:0,calc(100% + 12px)}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content{margin-bottom:12px;-webkit-transform-origin:100%,calc(100% + 12px);-ms-transform-origin:100%,calc(100% + 12px);transform-origin:100%,calc(100% + 12px)}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content{margin-right:12px;-webkit-transform-origin:calc(100% + 12px),0;-ms-transform-origin:calc(100% + 12px),0;transform-origin:calc(100% + 12px),0}.drop-element.drop-theme-arrows-bounce.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content{margin-left:12px;-webkit-transform-origin:-12px,0;-ms-transform-origin:-12px,0;transform-origin:-12px,0}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content{margin-right:12px;-webkit-transform-origin:calc(100% + 12px),100%;-ms-transform-origin:calc(100% + 12px),100%;transform-origin:calc(100% + 12px),100%}.drop-element.drop-theme-arrows-bounce.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content{margin-left:12px;-webkit-transform-origin:-12px,100%;-ms-transform-origin:-12px,100%;transform-origin:-12px,100%}
/* Main Container */
.joubel-help-text-dialog-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #555;
  z-index: 2;
}

/* Background for help dialog */
.joubel-help-text-dialog-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #555555;
  opacity: 0.75;
}

/* ------------------------------------ Main content container ------------------------ */
.joubel-help-text-dialog-container {
  display: block;
  position: absolute;
  top: 3.5%;
  left: 20%;
  width: 60%;
  background: #fff;
  opacity: 1;
  max-height: 93%;
  overflow: auto;
}

/* Header */
.joubel-help-text-header {
  font-size: 1.1em;
  border-bottom: 1px solid #E0E0E0;
  padding: 0.75em 3em 0.75em 1.5em;
}

/* Body */
.joubel-help-text-body {
  padding: 0.5em 1.5em;
  margin: 1em 0 2em;
}

/* Close help dialog container */
.joubel-help-text-remove {
  position: absolute;
  right: 1.5em;
  top: 0.8em;
  cursor: pointer;
}

.joubel-help-text-remove:hover {
  color: #333;
}

.joubel-help-text-remove:before {
  font-family: 'H5PFontAwesome4';
  content: '\f00d';
  font-size: 1.3em;
  right: 0em;
  top: 0em;
}

@CHARSET "UTF-8";

.joubel-message-dialog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: .3em;
  z-index: 11;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: 1px solid #ffcd0d;
  background-color: #fcffcc;
  text-align: center;
  font-size: 0.8em;
}
.joubel-message-dialog:before {
  font-family: 'H5PFontAwesome4';
  content: '\f05a';
  padding-right: .5em;
  font-size: 1.3em;
  position: relative;
  top: 0.1em;
}
.joubel-progress-circle-wrapper{
  display: inline-block;
  padding: 0em 1em;
}
.joubel-progress-circle-percentage{
  position: relative;
  font-size: 1em;
}

.joubel-progress-circle-percentage:after{
  content:'%';
}

.joubel-progress-circle-circle{
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  position: relative;

  top: 0.151em;
  left: 0.151em;
  text-align: center;
  width: 2.7em;
  height: 2.7em;

  -webkit-border-radius: 100%; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 100%; /* Firefox 1-3.6 */
  border-radius: 100%; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */

  background-color: #fff;
}

.joubel-progress-circle-active-border{
  position: relative;
  text-align: center;
  width: 3em;
  height: 3em;

  -webkit-border-radius: 100%; /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -moz-border-radius: 100%; /* Firefox 1-3.6 */
  border-radius: 100%; /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */

  background-color: #096bcb;
}

.joubel-simple-rounded-button {
  cursor: pointer;
  display: inline-block;
  margin: 0.25em 0;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  background-color: #1a73d9;
  color: #FFFFFF;
}

.joubel-simple-rounded-button:hover,
.joubel-simple-rounded-button:focus {
  background-color: #1356a3;
}

.joubel-simple-rounded-button:active {
  position: relative;
  background-color: #104888;

  -webkit-box-shadow: inset 0 4px 0px #0e407a;
  -moz-box-shadow: inset 0 4px 0px #0e407a;
  box-shadow: inset 0 4px 0px #0e407a;
}

.joubel-simple-rounded-button:active .joubel-simple-rounded-button-text {
  position: relative;
  top: 2px;
}

@CHARSET "UTF-8";

.joubel-speech-bubble {
  position: absolute;
  color: #333;
  z-index: 301;
  margin-top: 0.45em;
  min-width: 1em;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.joubel-speech-bubble p {
  margin: 0.75em 0;
}
.joubel-speech-bubble p:first-child {
  margin-top: 0.25em;
}
.joubel-speech-bubble p:last-child {
  margin-bottom: 0.25em;
}
.joubel-speech-bubble.show {
  opacity: 1;
}
.joubel-speech-bubble-inner {
  background: #fbfbfb;
  box-shadow: 0 0 0.5em #2c2c2c;
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  text-align: left;
  position: relative;
  word-wrap: break-word; /* Long words have to break */
  z-index: 1;
}
.joubel-speech-bubble-inner-tail,
.joubel-speech-bubble-tail {
  position: absolute;
  /* Setting these in pixels is intentional. We use it when calculating placement of bubble */
  width: 12px;
  height: 12px;
  background: #fbfbfb;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}
.joubel-speech-bubble-tail {
  box-shadow: 0 0 0.5em #2c2c2c;
}

@CHARSET "UTF-8";

.joubel-tip-container {
  display: inline-block;
  font-weight: normal;
  color: #777;
  cursor: pointer;
}
.joubel-tip-container:hover {
  color: #333;
}
.joubel-tip-container:focus {
  outline: auto;
}
.joubel-tip-container.be-quiet:focus {
  outline: none;
}
.joubel-tip-container.be-quiet {
  pointer-events: none;
}
.joubel-tip-icon {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
  width: 1.5em;
  height: 1.5em;
  pointer-events: none;
}
.joubel-tip-icon:before {
  font-family: Joubel;
  content: "\e888";

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.joubel-tip-icon.help-icon:before {
  font-family: 'H5PFontAwesome4';
  content: "\f059";
}

.h5p-joubel-ui-slider {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out;
  -ms-transition: -ms-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;

  /* Avoid flickering */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  height: 100%;
}
.h5p-joubel-ui-slide {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;

  display: none;
}
.h5p-joubel-ui-slide.current {
  display: block;
}

.h5p-joubelui-score-bar * {
  box-sizing: border-box;
}
.h5p-joubelui-score-bar {
  display: inline-block;
  position: relative;
  height: 1.8em;
  width: 7.6em;
  line-height: 2em;
  font-size: 1.5em;
}
.h5p-joubelui-score-bar-progress-wrapper {
  display: inline-block;
  position: absolute;
  top: .4em;
  left: 0;
  z-index: 1;
  width: 6em;
  height: 1em;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  border: 2px solid #ddd;
  border-right: none;
  background: #fff;
}
.h5p-joubelui-score-bar-progress {
  position: absolute;
  left: -2px;
  top: -2px;
  bottom: -2px;
  width: 0;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
  background: #47b47d;
}
.h5p-joubelui-score-bar-progress.animate {
  -webkit-transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -o-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.h5p-joubelui-score-bar-end {
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  position: absolute;
  left: 5.8em;
  top: 0;
  border-radius: 50%;
  border: 2px solid #ddd;
  background: #fff;
  font-family: 'H5PFontAwesome4';
  text-align: center;
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.h5p-joubelui-score-bar-default-star,
.h5p-joubelui-score-bar-full-score-star {
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50%;
  overflow: hidden;
}
.h5p-joubelui-score-bar-full-score-star {
  background: #47b47d;
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
  -webkit-backface-visibility: hidden;
}
.full-score .h5p-joubelui-score-bar-full-score-star.animate-background {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.full-score .h5p-joubelui-score-bar-default-star {
  display:none;
}
.h5p-joubelui-score-bar-default-star::before {
  font-family: 'H5PFontAwesome4';
  content: '\f005';
  color: #ddd;
}
/* Full score - full star */
.h5p-joubelui-score-bar-full-score-star::before {
  font-family: 'H5PFontAwesome4';
  display:none;
  content: '\f005';
  color: #ffc400;
  text-shadow: 0px 2px rgba(31, 81, 56, 0.35);
  -webkit-transition: transform .4s ease-in-out;
  -moz-transition: transform .4s ease-in-out;
  -o-transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
}
.h5p-joubelui-score-bar-full-score-star.show-star::before {
  display: inline-block;
}
.h5p-joubelui-score-bar-full-score-star.animate-star::before {
  animation: pound .8s 1;
  -webkit-animation: pound .8s 1;
}
@keyframes pound {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  60% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pound {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  60% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
  80% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Full score - half star */
.h5p-joubelui-score-bar-full-score-star::after {
  font-family: 'H5PFontAwesome4';
  content: '\f089';
  color: transparent;
  -webkit-transition: color .8s ease-in-out;
  -moz-transition: color .8s ease-in-out;
  -o-transition: color .8s ease-in-out;
  transition: color .8s ease-in-out;
}
.h5p-joubelui-score-bar-full-score-star.animate-star-blink::after {
  color: #ffd600;
}
.h5p-joubelui-score-bar-default-star::before,
.h5p-joubelui-score-bar-full-score-star::before,
.h5p-joubelui-score-bar-full-score-star::after {
  position: absolute;
  top: -0.05em;
  left: 0.4em;
  height: 100%;
  line-height: 2;
}

.h5p-joubelui-progressbar {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: .25em;
  background: #fff;
  -webkit-box-shadow: 0px -1px 3px 0px rgba(1,72,118,0.75);
  -moz-box-shadow: 0px -1px 3px 0px rgba(1,72,118,0.75);
  box-shadow: 0px -1px 3px 0px rgba(1,72,118,0.75);
}

.h5p-joubelui-progressbar-slide-status-text {
  font-size: 0;
  width: 0;
  height: 0;
}

.h5p-joubelui-progressbar-background {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #014876;
  -webkit-transition: width .3s ease-in-out;
  -moz-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.h5p-joubelui-drop {
  z-index: 1;
}
.drop-element.h5p-joubelui-drop .drop-content {
  padding: .2em .8em;
  font-weight: bold;
}

@CHARSET "UTF-8";

@font-face {
  font-family: 'Joubel';
  src:url("..//libraries/H5P.JoubelUI-1.2/css/../fonts/joubel.eot?-evicw4");
  src:url("..//libraries/H5P.JoubelUI-1.2/css/../fonts/joubel.eot?#iefix-evicw4") format('embedded-opentype'),
    url("..//libraries/H5P.JoubelUI-1.2/css/../fonts/joubel.woff?-evicw4") format('woff'),
    url("..//libraries/H5P.JoubelUI-1.2/css/../fonts/joubel.ttf?-evicw4") format('truetype'),
    url("..//libraries/H5P.JoubelUI-1.2/css/../fonts/joubel.svg?-evicw4#tips") format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Styling of button */
.h5peditor .ui-dialog .h5p-joubelui-button,
.h5peditor .h5p-joubelui-button,
.h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.25em;
  border-radius: 2em;

  background: #1a73d9;
  color: #ffffff;

  cursor: pointer;
  border: none;
  box-shadow: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  display: inline-block;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
}
.h5p-joubelui-button:first-child {
  margin: 0 0.5em 1em 0;
}

.h5p-joubelui-button:last-child {
  margin: 0 0 1em 0.5em;
}

.h5p-joubelui-button:first-child:last-child {
  margin: 0 0 1em;
}

/* Truncated buttons */
.h5p-joubelui-button.truncated {
  width: 2.235em;
  height: 2.235em;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.h5p-joubelui-button.truncated:before {
  padding: 0;
}

.h5p-joubelui-button:hover,
.h5p-joubelui-button:focus {
  background: #1356a3;
  color: #fff;
  text-decoration: none;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
}
.h5p-joubelui-button:active {
  position: relative;
  background: #104888;

  -webkit-box-shadow: inset 0 4px 0 #0e407a;
  -moz-box-shadow: inset 0 4px 0 #0e407a;
  box-shadow: inset 0 4px 0 #0e407a;
}
.h5p-joubelui-button:active .h5p-joubelui-button-text {
  position: relative;
  top: 2px;
}

.h5p-joubelui-button:before {
  font-family: 'H5PFontAwesome4';
  padding-right: 0.5em;
}

.h5p-question-try-again:before {
  content: "\F01E";
}

.h5p-question-show-solution:before {
  content: "\F06E";
}

.h5p-question-check-answer:before {
  content: "\F058";
}

.h5p-question {
  background: rgba(255, 255, 255, 0.9);
  position: relative;
}
.h5p-question-video {
  line-height: 0;
}
.h5p-question-video > video {
  width: 100%;
}
.h5p-question-image {
  text-align: left;
  margin: 0 0 1em;
  line-height: 0.8125em;
}
.h5p-question-image img {
  display: block;
  width: 100%;
  height: auto;
  border: 0;
  outline: none;
}

.h5p-question-image-wrap {
  display: inline-block;
  position: relative;
  margin-bottom: 1em;
  -webkit-transform: translate(1em, 1em);
  transform: translate(1em, 1em);
  max-width: calc(100% - 2em);
}

.h5p-question-image.animatable .h5p-question-image-wrap.h5p-question-image-scalable {
  -webkit-transition: -webkit-transform 0.3s 0.3s, margin 0.3s 0.3s, width 0.3s 0s;
  transition: transform 0.3s 0.3s, margin 0.3s 0.3s, width 0.3s 0s;
}

.h5p-question-image.animatable.h5p-question-image-fill-width .h5p-question-image-wrap {
  -webkit-transition: -webkit-transform 0.3s 0s, margin 0.3s 0s, width 0.3s 0.3s;
  transition: transform 0.3s 0s, margin 0.3s 0s, width 0.3s 0.3s;
}

.h5p-question-image-overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.h5p-question-image-overlay.show {
  display: block;
}

.h5p-question-image-fill-width .h5p-question-image-wrap,
.h5p-no-frame > .h5p-question .h5p-question-image-wrap,
.h5p-transparent > div > .h5p-question .h5p-question-image-wrap {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  margin: 0;
  max-width: 100%;
}

.h5p-question-image-scalable {
  cursor: pointer;
  width: 35%;
}

.h5p-question-image.h5p-question-image-fill-width .h5p-question-image-scalable{
  width: 100%;
}

.h5p-question-image-scalable:before {
  position: absolute;
  font-family: 'H5PFontAwesome4';
  content: "\f067";
  right: 0.7em;
  top: 0.7em;
  color: #fff;
  font-size: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 1.8em;
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
}

.h5p-question-image-fill-width .h5p-question-image-scalable:before {
  content: "\f068";
}

.h5p-question-introduction {
  margin: 1em;
}

.h5p-question-introduction {
  font-size: 1.125em;
  line-height: 1.125em;
}

.h5p-question-introduction > p {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.h5p-question-content {
  margin: 1em;
}
.h5p-question-feedback {
  font-weight: bold;
  color: #1a73d9;
  margin: 0 1em;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s cubic-bezier(0,1,0,1);
}
.h5p-question-feedback.h5p-question-visible {
  margin: 1em;
  opacity: 1;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s ease-in;
}
.h5p-joubelui-score-bar {
  display: inline-block;
  margin-right: .5em;
}
.h5p-question-feedback-content {
  display: inline-block;
  position: relative;
  top: -1em;
  margin-top: .8em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.h5p-question-feedback-content-text {
  display: inline-block;
}

.h5p-question-buttons {
  margin: 0 1em;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s cubic-bezier(0,1,0,1);
}
.h5p-question-buttons.h5p-question-visible {
  max-height: none;
  opacity: 1;
  transition: max-height 0.15s ease, margin 0.15s ease, opacity 0.15s ease-in;
}

/* Remove margins when no frame or transparent */
.h5p-no-frame > .h5p-question > *,
.h5p-transparent > div > .h5p-question > * {
  margin-left: 0;
  margin-right: 0;
}

.h5p-no-frame > .h5p-question > *:first-child,
.h5p-transparent > div > .h5p-question > *:first-child {
  margin-top: 0;
}

.h5p-no-frame > .h5p-question > *:last-child,
.h5p-transparent > div > .h5p-question > *:last-child {
  margin-bottom: 0;
}

/* CP specific styles */
.h5p-course-presentation .h5p-question-introduction {
  font-size: 1.125em;
  line-height: 1.125em;
}

.h5p-course-presentation .h5p-question-introduction > p {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}
.h5p-question .h5p-hidden-read {
  width: 1px;
  height: 1px;
  top: -1px;
  position: absolute;
  text-indent: 1px;
  overflow: hidden;
}

.h5p-question-popups {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.h5p-question-popups.hidden {
  display: none;
}

.h5p-blanks {
  position: relative;
}
.h5p-blanks .h5p-input-wrapper {
  display: inline-block;
  position: relative;
}
.h5p-blanks .h5p-text-input {
  font-family: H5PDroidSans, sans-serif;
  font-size: 1em;
  border-radius: 0.25em;
  border: 1px solid #a0a0a0;
  padding: 0.1875em 1em 0.1875em 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 6em;
}
.h5p-blanks .h5p-text-input:focus {
  outline: none;
  box-shadow: 0 0 0.5em 0 #7fb8ff;
  border-color: #7fb8ff;
}
.h5p-blanks .h5p-text-input.h5p-not-filled-out {
  background: #fff0f0;
}
.h5p-blanks .h5p-separate-lines .h5p-input-wrapper {
  display: block;
}
.h5p-blanks .h5p-separate-lines .h5p-text-input {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Correctly answered input */
.h5p-blanks .h5p-correct .h5p-text-input {
  background: #9dd8bb;
  border: 1px solid #9dd8bb;
  color: #255c41;
}
.h5p-blanks .h5p-correct-answer {
  color: #255c41;
  font-weight: bold;
}
.h5p-blanks .h5p-correct:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  text-decoration: none;
  content: "\f00c";
  font-family: 'H5PFontAwesome4';
  color: #255c41;
}

/* Wrongly answered input */
.h5p-blanks .h5p-wrong .h5p-text-input {
  background-color: #f7d0d0;
  border: 1px solid #f7d0d0;
  color: #b71c1c;
  text-decoration: line-through;
}
.h5p-blanks .h5p-wrong:after {
  position: absolute;
  right: 0.5em;
  top: 0;
  font-family: 'H5PFontAwesome4';
  text-decoration: none;
  content: "\f00d";
  color: #b71c1c;
}

/* Actual text paragraphs */
.h5p-blanks .h5p-question-content p {
  line-height: 1.75em;
  margin: 0 0 1em;
}

/* Header and footer blocks (title + evaluation, buttons) */
.h5p-blanks .joubel-tip-container {
  position: absolute;
  top: -0.15em;
  right: -0.15em;
}
.h5p-blanks .has-tip .h5p-text-input {
  padding-right: 2.25em;
}
.h5p-blanks .has-tip.h5p-correct:after,
.h5p-blanks .has-tip.h5p-wrong:after {
  right: 2.25em;
}
.h5p-blanks .has-tip.h5p-correct .h5p-text-input,
.h5p-blanks .has-tip.h5p-wrong .h5p-text-input {
  padding-right: 3.5em;
}

.h5p-column-content {
  position: relative;
}
.h5p-column-content.h5p-table,
.h5p-column-content.h5p-advanced-text,
.h5p-column-content.h5p-link {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.h5p-column-content.h5p-video > video {
  width: 100%;
}

.h5p-column-ruler {
  border-bottom: 2px solid #eee;
}
.h5p-column-space-before-n-after {
  margin: 1em 0;
}
.h5p-column-space-before {
  margin: 1em 0 0;
}
.h5p-column-space-after {
  margin: 0 0 1em;
}

/* Align question texts when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-question > * {
  margin-left: 0;
  margin-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-question .h5p-question-image-wrap {
  -webkit-transform: translate(0, 1em);
  transform: translate(0, 1em);
  margin: 0 0 1em 0;
  max-width: 100%;
}

/* Special fixes for SCS */
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-alternatives,
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-question {
  margin-left: 0;
  margin-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-single-choice-set .h5p-sc-sound-control {
  top: 0;
  right: 0;
}

/* QS is a bit to eager... */
.h5p-no-frame > .h5p-column > div > .h5p-column-content > .questionset .h5p-question > *:first-child {
  margin-top: 1em;
}

/* Align text content when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-table,
.h5p-no-frame > .h5p-column > div > .h5p-advanced-text,
.h5p-no-frame > .h5p-column > div > .h5p-link {
  padding-left: 0;
  padding-right: 0;
}

/* Align accordion texts when there's no frame */
.h5p-no-frame > .h5p-column > div > .h5p-accordion {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* Memory Game */
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-status {
  padding-left: 0;
  padding-right: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-feedback {
  margin: 0;
}
.h5p-no-frame > .h5p-column > div > .h5p-memory-game .h5p-memory-card {
  margin-left: 0;
  margin-right: 2em;
}

